$background-color: #f9f9ee;
$navbar-color:#fff7f0;
$complementary-color: #303089;
$primary-color: #91913B;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=PT+Serif:wght@700&family=Poppins&display=swap');

html {
  background-color: $background-color;
}

* {
  font-family: 'Cormorant Garamond', 'PT Serif', 'Poppins', serif;
  font-weight: 700;
  font-size: large;
}

#app-navbar {
  background-color: $background-color;
  height: 80px;
}

#logo {
  height: 65px;
}

.section {
  padding-top: 80px;
  background-color: $background-color;
  margin: auto;
}

.page-title {
  font-size: 8em;
  color: $primary-color;
  margin-bottom: -0.5em;
  z-index: 5;
}

.nav {
  color: $primary-color;
}

.reservation-link {
  color: $primary-color;
}

.color-complementary {
  color: $complementary-color;
}


#app-navbar {
  z-index: 10;
}

.background-complementary {
  background-color: $complementary-color;
}

.font-size-2 {
  font-size: 7.7vw;
  line-height: 6.8vw;
}

.primary-text{
  color: $primary-color;
}
